@{
    ViewBag.Title = "Contact";
}
<h1 class="developers">The Developers</h1>
<div class="contact1">

    <div class="contact">
        <div class="accordian">
            <ul>
                <li>
                    <div class="image_title">
                        <a href="https://jlkrejsa.github.io/">Jen</a>
                    </div>
                    <a href="#">
                        <img src="~/Content/images/jen.png" height="320" width="320" />
                    </a>
                </li>
                <li>
                    <div class="image_title">
                        <a href="https://RyanBender451.github.io">Ryan</a>
                    </div>
                    <a href="#">
                        <img src="~/Content/images/Rbender.jpg" height="320" width="320" />
                    </a>
                </li>
                <li>
                    <div class="image_title">
                        <a href="https://DenisaIacob25.github.io">Denisa</a>
                    </div>
                    <a href="#">
                        <img src="~/Content/images/denisa.png" height="320" width="320" />

                    </a>
                </li>
                <li>
                    <div class="image_title">
                        <a href="https://merichuduncan.github.io/">Merichu</a>
                    </div>

                    <a href="#">
                        <img src="~/Content/images/image1.JPG" height="320" width="330" />
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
