@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <img src="~/Content/images/Saveme (1).png" />" 
<<<<<<< HEAD
    <h1>SaveME Project!</h1>
    <p class="lead">This is our Homepage YAY</p>
   
  
=======
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <a href="/ReportAbusers/Create" class="btn btn-primary btn-lg">Report Abuse</a>

>>>>>>> 4a354c6206fa5fc6963f42bbc53fc818cd8684e6
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
       
        </p>

      
    </div>
   
    <div class="col-md-4">
        <h2>Get more libraries</h2>

    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>

    </div>
</div>