@{
    ViewBag.Title = "Home Page";
}

@******banner*@
<div class="container-fluid banner">
        <img src="~/Content/images/Banner 2x.png" />
</div>
@*******jumbotron*@
<div class="row jumbo">
    <div class="col-4-12">
        <div class="jumbotron">
            <img src="~/Content/images/logo trans 105.png" />
            <h2>Animals can't speak for themselves. We need to be their voice.</h2>
            <p>If you have witnessed animal abuse or neglect, report it immediately. When you submit a report,
             the information is immediately available to cruelty agents who can begin their investigation immediately.</p>
            <h2>Don't wait. Report cruelty now. </h2>

            <a href="#" class="btn btn-large btn-info">Report Abuse</a>
        </div>
    </div>
</div>
@******end of jumbotron*@







<div class="row">
    <h1>SaveME Project!</h1>

    <p class="lead">This is our Homepage YAY</p>


</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
       
        </p>

      
    </div>
   
    <div class="col-md-4">
        <h2>Get more libraries</h2>

    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>

    </div>
</div>