@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <img src="~/Content/images/Saveme (1).png" />" 
    <h1>SaveME Project!</h1>
    <p class="lead">This is our Homepage YAY</p>
   
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
       
        </p>

      
    </div>
   
    <div class="col-md-4">
        <h2>Get more libraries</h2>

    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>

    </div>
</div>