body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#C3C2C0 !important;
    font-family: 'Didact Gothic', sans-serif !important;  
    color: whitesmoke !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
@import url('http://getbootstrap.com/dist/css/bootstrap.css');
.form-control {
    display:inline-block
}

/*Started JenCSS*/
/*div#animalPic.page-header {
    /*add bootstrap jumbotron background image*/
    /*background-image:url(images/animal-shelter-1558651_1920.jpg);*/
    /*change bootstrap jumbotron text color*/
    /*background-size:cover;*/
    color: #fff;
    background-color: #1A2930;
    margin-top: 0px;
    height: 600px;
    margin-bottom: 0px*/;
  
}
div#textBox{
    background-color:#1A2930 ;
    height:500px;
}

#bannerTwo.page-header {
   background-color: #1A2930 ;
   margin-top: 0px;
   height: 500px;
   margin-bottom: 0px;
}

#bottomBanner.img-responsive{
   height:100%;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

hr{
   border-top: 3px solid #F9C231 !important;
   margin-bottom:5px !important;
   margin-top:5px !important;
}

#tagline b, strong {
   font-weight: bold !important;
   font-size: 70px !important;
}
