.intro {
  
    background-image: url('dog head.jpg');
    
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background-image: url('dog head.jpg');
    background-size: cover;
    background-position:center
}

/*body {
    padding-top: 100px;
    padding-bottom: 0px;
}

 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

header.intro {
    background-image: url('images/dog head.jpg');
    background-size:cover;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
/*
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,*/
/*textarea {
    max-width: 280px;*/
/*}
@import url('http://getbootstrap.com/dist/css/bootstrap.css');*/
./*form-control {
    display:inline-block
}
#jumbo{
    background-color:#DCC7AA !important;
    color:black !important;
    background-size:auto 100%;
    height: 100vh;

  }*/

/*p{
    font-family: Architects Daughter, cursive !important;
    color:black;
}

h2{
    font-family: Architects Daughter, cursive !important;
    color: black !important;*/
   
}
/*#bunny{
    margin-left: 0px !important;
    width:100%;
}

.jumbotron {
    color: #DCC7AA !important;
    background-color: #DCC7AA !important;
    background-size:auto 100%;
    right:50px;
}

#bannertop{
    background-size:auto 100%;
    width:100%;*/

}
