body {
    padding-top: 50px;
    padding-bottom: 20px;
    background:#F5F5F3 !important;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {*/
    /*padding-left: 15px;
    padding-right: 15px;*/
/*}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,*/
textarea {
    max-width: 280px;
}
@import url('http://getbootstrap.com/dist/css/bootstrap.css');
.form-control {
    display:inline-block
}
.jumbo{
    background-color:#DCC7AA !important;
    color:black !important;

  }

p{
    font-family: Architects Daughter, cursive !important;
    color:black;
}

h2{
    font-family: Architects Daughter, cursive !important;
    color: black !important;
   
}
.bunny{
    margin-left: 0px !important;
}

.jumbotron {
    color: #DCC7AA !important;
    background-color: #DCC7AA !important;
}